<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Patient Dashboard</title>
    <link rel = "icon" href ="../../../static/assets/logo.png" type ="image/x-icon">
    <script src="https://use.fontawesome.com/590ef3f991.js"></script>
    <link rel="stylesheet" href="../../../static/viewReport.css" />
  </head>
  <body>
    <div class="container">
      <div class="navigation">
        <ul>
          <li>
            <a href="/dashboardpatient/profile">
              <span class="icon"
                ><i class="fa fa-home" aria-hidden="true"></i></span>
                <span class="title"><h2>Dashboard</h2></span>
            </a>
          </li>
          <li>
            <a href="/dashboardpatient/profile">
              <span class="icon"
                ><i class="fa fa-user" aria-hidden="true"></i
              ></span>
              <span class="title">Profile</span>
            </a>
          </li>
          <li>
            <a href="/dashboardpatient/input">
              <span class="icon"
                ><i class="fa fa-pencil" aria-hidden="true"></i
              ></span>
              <span class="title">Input data</span>
            </a>
          </li>
          <li>
            <a href="/dashboardpatient/report">
              <span class="icon"
                ><i class="fa fa-eye" aria-hidden="true"></i
              ></span>
              <span class="title">View Report</span>
            </a>
          </li>
          <li>
            <a href="/dashboardpatient/signout">
              <span class="icon"
                ><i class="fa fa-sign-out" aria-hidden="true"></i
              ></span>
              <span class="title">Signout</span>
            </a>
          </li>
        </ul>
      </div>

      <div class="main">
          <div class="topbar">
            <div class="toggle" onclick="toggleMenu();"></div>
          </div>
          <div class="details">
            <div class="recentOrders">
              <div class="cardHeader">
                <h2>Your Reports</h2>
              </div>
              <table>
                <thead>
                  <tr>
                    <td>Name of application</td>
                    <td>Date of submission</td>
                    <td>Status</td>
                    <td></td>
                  </tr>
                </thead>
                <tbody>
                  {% for row in data %}
                    <tr>
                      <td class="fullNameField">{{ row[2] }}</td>
                      <td class="subsDateField">{{ row[5] }}</td>
                      {% if row[4] == 0 %}
                        <td><span class="status pending">Waiting</span></td>
                        <td><span>
                          <button class="viewBtn" disabled style="padding: 7px; color: black;" target="_blank">View</button>
                        </span></td>
                        {% elif row[4] == 1 %}
                        <td><span class="status finished">Finished</span></td>
                        <td>
                          <button class="viewBtn" style="padding: 7px; color: black;" target="_blank">View</button>
                        </td>
                        {% endif %}
                    </tr>
                  {% endfor %}           
                </tbody>
              </table>
            </div>
          </div>
      </div>
    </div>

    <script>

      const viewBtn = document.getElementsByClassName('viewBtn')
      const nameFields = document.getElementsByClassName("fullNameField"); 
      const dateFields = document.getElementsByClassName("subsDateField"); 

      function initializeViewBtn (){
        for (let i = 0; i < viewBtn.length; i++){
            viewBtn[i].addEventListener('click', () => {
              showPDF(nameFields[i].textContent, dateFields[i].textContent)
              // showPDF()
          })
        }
      }

      function showPDF(name, date){
        // var filePath = `https://drive.google.com/file/d/1P7almdUFdswkj7vSyPt8JrUjwhi5I12d/view?usp=sharing`;
        var filePath = `D:/05_development/Diabuddies/models/reports/${name}${date}.pdf`;
        window.open(filePath);
      }

      function toggleMenu(){
        let toggle = document.querySelector('.toggle')
        let navigation = document.querySelector('.navigation')
        let main = document.querySelector('.main')
        toggle.classList.toggle('active')
        navigation.classList.toggle('active')
        main.classList.toggle('active')
      }

      initializeViewBtn()

    </script>
  </body>
</html>