<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin Dashboard</title>
    <script src="https://use.fontawesome.com/590ef3f991.js"></script>
    <link rel="stylesheet" href="../../../static/viewReport.css" />
  </head>
  <body>
    <div class="container">
      <div class="navigation">
        <ul>
          <li>
            <a href="/dashboarddoctor/profile">
              <span class="icon"
                ><i class="fa fa-home" aria-hidden="true"></i></span>
                <span class="title"><h2>Dashboard</h2></span>
            </a>
          </li>
          <li>
            <a href="/dashboarddoctor/profile">
              <span class="icon"
                ><i class="fa fa-user" aria-hidden="true"></i
              ></span>
              <span class="title">Profile</span>
            </a>
          </li>
          <li>
            <a href="/dashboarddoctor/report">
              <span class="icon"
                ><i class="fa fa-eye" aria-hidden="true"></i
              ></span>
              <span class="title">View Report</span>
            </a>
          </li>
          <li>
            <a href="/dashboarddoctor/signout">
              <span class="icon"
                ><i class="fa fa-sign-out" aria-hidden="true"></i
              ></span>
              <span class="title">Signout</span>
            </a>
          </li>
        </ul>
      </div>

      <div class="main">
          <div class="topbar">
            <div class="toggle" onclick="toggleMenu();"></div>
          </div>
          <div class="details">
            <div class="recentOrders">
              <div class="cardHeader">
                <h2>Patient Reports</h2>
              </div>
              <table>
                <thead>
                  <tr>
                    <td>Name of application</td>
                    <td>Date of submission</td>
                    <td>Validate</td>
                    <td>Status</td>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Abdul Bin Ahmad</td>
                    <td>20/6/2023</td>
                    <td><input type="checkbox" name="" id=""></td>
                    <td><span class="status finished">Finished</span></td>
                  </tr>
                  <tr>
                    <td>Wani Alyiah</td>
                    <td>23/6/2023</td>
                    <td><input type="checkbox" name="" id=""></td>
                    <td><span class="status inprogress">In Progress</span></td>
                  </tr>
                  <tr>
                    <td>Abdul Bin Ahmad</td>
                    <td>26/6/2023</td>
                    <td><input type="checkbox" name="" id=""></td>
                    <td><span class="status pending">Pending</span></td>
                  </tr>              
                  <tr>
                    <td>Budi Santoso</td>
                    <td>27/6/2023</td>
                    <td><input type="checkbox" name="" id=""></td>
                    <td><span class="status failed">Failed</span></td>
                  </tr>              
                </tbody>
              </table>
            </div>
          </div>
      </div>
    </div>

    <script>
        function toggleMenu(){
            let toggle = document.querySelector('.toggle')
            let navigation = document.querySelector('.navigation')
            let main = document.querySelector('.main')
            toggle.classList.toggle('active')
            navigation.classList.toggle('active')
            main.classList.toggle('active')
        }
    </script>
  </body>
</html>