<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8" />
    <title>Animated Login Form coding by taha</title>
    <link rel="stylesheet" href="../../../static/doctorView/auth/signupStyle.css" />
</head>

<body>
    <div class="center">
        <h1>Signup as Doctor</h1>
        <form method="post" action="/signupdoctor">
            <div class="header">
                <div class="txt_field">
                    <input type="text" id="taha1" name="doctor_fullName" required />
                    <span></span>
                    <label id="taha0">Full Name</label>
                </div>
                <div class="txt_field">
                    <input type="text" id="taha1" name="doctor_username" required />
                    <span></span>
                    <label id="taha0">Username</label>
                </div>
                <div class="txt_field">
                    <input type="text" id="taha1" name="doctor_icNumber" required />
                    <span></span>
                    <label id="taha0">IC Number</label>
                </div>
                <div class="txt_field">
                    <input type="text" id="taha1" name="doctor_doctorId" required />
                    <span></span>
                    <label id="taha0">Doctor Id Number</label>
                </div>
                <div class="txt_field">
                    <input type="password" id="taha2" name="doctor_password" required />
                    <span></span>
                    <label>Password</label>
                </div>
                <div class="txt_field">
                    <input type="password" id="taha2" name="doctor_repeatPassword" required />
                    <span></span>
                    <label>Repeat Password</label>
                </div>
                <input type="submit" value="Signup" id="taha3"/>
                <div class="signup_link">
                    <a href="/" id="taha4">Go back to home</a> or
                    <a href="/logindoctor" id="taha4">Go back to Login</a
                </div>
            </div>
        </form>
    </div>
</body>
</html>