<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Diabuddies</title>
     <link rel = "icon" href ="../static/assets/logo.png" type ="image/x-icon">
     <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <nav>
          <div class="logo">
               <a href="#"><img src="../static/assets/logo.png" alt="" width="85px" height="80px"></a>
          </div>
          
          <ul class="menu-list">
               <li class="list"><a href="#">Home</a></li>
               <li class="list"><a href="#works">How to Use</a></li>
               <li class="list check"><a href="#login-option">Check Now</a></li>
          </ul>
     </nav>

     <section class="banner">
          <div class="caption">
               <div class="welcome">Welcome to</div>
               <div class="title">DIABUDDIES</div>
               <div class="sub-title">Your trusted free online diabetes checker based on AI</div>
               <a href="#login-option">Check Now</a>
          </div>
          <div class="pict">
               <img src="../static/assets/5063406.jpg" alt="">
          </div>
          
     </section>

     <section class="works" id="works">
          <div class="work-left first">
               <div>
                    <img src="../static/assets/Data analysis-amico.png" alt="" style="height: 20rem; width: 22rem; margin-left: 1rem;">
               </div>
               <div style="margin-top: 5rem; margin-left: -1.5rem;">
                    <h2>Enter Your Data</h2>
                    <p>Enter your data as requested on the data input form after you logged in as a patient</p>
               </div>
          </div> 
          <div class="work-right">
               <div style="margin-top: 5rem; margin-left: -1.5rem;">
                    <h2>Wait for the system process</h2>
                    <p>Give couple times to our system to process your data based on our Machine Learning models</p>
               </div>
               <div>
                    <img src="../static/assets/Work time-pana.png" alt="" style="height: 20rem; width: 22rem; margin-right: 1rem;">
               </div>
          </div>
          <div class="work-left">
               <div>
                    <img src="../static/assets/Medical prescription-bro.png" alt="" style="height: 20rem; width: 22rem; margin-left: 1rem;">
               </div>
               <div style="margin-top: 5rem; margin-left: -1.5rem;">
                    <h2>Doctor Validation</h2>
                    <p>Our doctor will recheck and validate your test result after the doctor logged in as a doctors </p>
               </div>
          </div> 
          <div class="work-right">
               <div style="margin-top: 5rem; margin-left: -1.5rem;">
                    <h2>Get your result</h2>
                    <p>Now you can see your test result completely</p>
               </div>
               <div>
                    <img src="../static/assets/checks-1.jpg" alt="" style="height: 20rem; width: 22rem; margin-right: 1rem;">
               </div>
          </div>
     </section>

     <section class="login-option" id="login-option">
          <div class="container">
               <h2>Login Option</h2>
               <a href="/loginpatient">As a Patient</a>
               <br> <br> <br>
               <a href="/logindoctor">As a Doctor</a>
          </div>
          <div class="image">
          </div>
     </section>
</body>
</html>